<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
		<property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="com.evodat.model.User"/>
        <mapping class="com.evodat.model.Role"/>
		<mapping class="com.evodat.model.Monitor"/>
		<mapping class="com.evodat.model.Template"/>
		<mapping class="com.evodat.model.Course"/>
		<mapping class="com.evodat.model.Screen"/>
		<mapping class="com.evodat.model.JCalendar"/>
		<mapping class="com.evodat.model.Room"/>
		<mapping class="com.evodat.model.Carpark"/>
		<mapping class="com.evodat.model.Floor"/>
    </session-factory>
</hibernate-configuration>