#digiclock { 
	position:relative; 
	width:350px; 
	height:70px; 
	top:40px;
	border:none; 
	border-radius: 5px;
	text-align:left; 
	overflow:hidden;
	float:left;
	}

#digiclock img.time { float:left; }

#digiclock #cover { position:absolute; top:0; left:0; width:230px; height:70px; background:url(fade.png) repeat-x; }

*html body #digiclock #cover { width:0px; height:0px; }
