#mainTable, .report{
	font:18px Arial, Helvetica, sans-serif;
	font-weight:bold;
	width:100%;
}
#header{
	font:30px Arial, Helvetica, sans-serif;
	font-weight:bold;
	width:100%;
}
.og7, .og1{
	 background-image: url(og.png);
	 background-repeat:no-repeat;
	 background-color:transparent;
	 background-position:120px 8px;
	 padding-left:30px;
}
.dolomit{
	 background-image: url(dolomit.png);
	 background-repeat:no-repeat;
	 background-color:transparent;
	 background-position:30px 12px;
	 padding-left:0px;	
}
.ug{
	 background-image: url(ug.png);
	 background-repeat:no-repeat;
	 background-color:transparent;
	 background-position:120px 34px;
	 padding-left:30px;
}