<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-lazy-init="true">

    <bean id="adminInterceptor" class="com.evodat.webapp.interceptor.UserRoleAuthorizationInterceptor">
        <property name="authorizedRoles" value="ROLE_ADMIN"/>
    </bean>
    
    <bean id="signupAction" class="com.evodat.webapp.action.SignupAction" scope="prototype">
        <property name="userManager" ref="userManager"/>
        <property name="roleManager" ref="roleManager"/>
        <property name="mailEngine" ref="mailEngine"/>
        <property name="mailMessage" ref="mailMessage"/>
        <property name="templateName" value="accountCreated.vm"/>
    </bean>
    
    <bean id="userAction" class="com.evodat.webapp.action.UserAction" scope="prototype">
        <property name="userManager" ref="userManager"/>
        <property name="roleManager" ref="roleManager"/>
        <property name="mailEngine" ref="mailEngine"/>
        <property name="mailMessage" ref="mailMessage"/>
        <property name="templateName" value="accountCreated.vm"/>
    </bean>
    
    <bean id="passwordHintAction" class="com.evodat.webapp.action.PasswordHintAction" scope="prototype">
        <property name="userManager" ref="userManager"/>
        <property name="mailEngine" ref="mailEngine"/>
        <property name="mailMessage" ref="mailMessage"/>
    </bean>

    <bean id="monitorAction" class="com.evodat.webapp.action.MonitorAction" scope="prototype">
		<property name="monitorManager" ref="monitorManager"/>
		<property name="courseManager" ref="courseManager"/>
    </bean>

    <bean id="templateAction" class="com.evodat.webapp.action.TemplateAction" scope="prototype">
		<property name="templateManager" ref="templateManager"/>
    </bean>

    <bean id="courseAction" class="com.evodat.webapp.action.CourseAction" scope="prototype">
		<property name="courseManager" ref="courseManager"/>
    </bean>

    <bean id="jCalendarAction" class="com.evodat.webapp.action.JCalendarAction" scope="prototype">
		<property name="jCalendarManager" ref="jCalendarManager"/>
    </bean>
    <bean id="roomAction" class="com.evodat.webapp.action.RoomAction" scope="prototype">
    	<property name="monitorManager" ref="monitorManager"/>
		<property name="jCalendarManager" ref="jCalendarManager"/>
    </bean>
    	
	<bean id="screenAction" class="com.evodat.webapp.action.ScreenAction" scope="prototype">
		<property name="screenManager" ref="screenManager"/>
		<property name="templateManager" ref="templateManager"/>
		<property name="courseManager" ref="courseManager"/>
    </bean>

    <bean id="cBookingAction" class="com.evodat.webapp.action.CBookingAction" scope="prototype">
    </bean>

    <bean id="floorAction" class="com.evodat.webapp.action.FloorAction" scope="prototype">
		<property name="floorManager" ref="floorManager"/>
		<property name="carparkManager" ref="carparkManager"/>
    </bean>

    <bean id="carparkAction" class="com.evodat.webapp.action.CarparkAction" scope="prototype">
    	<property name="monitorManager" ref="monitorManager"/>
    	<property name="carparkManager" ref="carparkManager"/>
    </bean>

    <bean id="lunchAction" class="com.evodat.webapp.action.LunchAction" scope="prototype">
    </bean>

    <bean id="fileUploadAction" class="com.evodat.webapp.action.FileUploadAction" scope="prototype">
    </bean>
	
	<bean id="slideshowAction" class="com.evodat.webapp.action.templates.SlideshowAction" scope="prototype">
		<property name="slideshowManager" ref="slideshowManager"/>
    </bean>

	<bean id="saveSlideshowAction" class="com.evodat.webapp.action.templates.SaveSlideshowAction" scope="prototype">
		<property name="slideshowManager" ref="slideshowManager"/>
    </bean>

	<bean id="deleteSlideshowImageAction" class="com.evodat.webapp.action.templates.DeleteSlideshowImageAction" scope="prototype">
		<property name="slideshowManager" ref="slideshowManager"/>
    </bean>

	<bean id="slideshowSessionAction" class="com.evodat.webapp.action.templates.SlideshowSessionAction" scope="prototype">
		<property name="slideshowManager" ref="slideshowManager"/>
    </bean>

	<bean id="quickstartAction" class="com.evodat.webapp.action.QuickstartAction" scope="prototype">
		<property name="templateManager" ref="templateManager"/>
		<property name="monitorManager" ref="monitorManager"/>
		<property name="courseManager" ref="courseManager"/>
		<property name="screenManager" ref="screenManager"/>
    </bean>
	
	<!-- Validators -->
	<bean id="monitorAliasUniqueValidator" class="com.evodat.webapp.validators.MonitorAliasUniqueValidator" scope="prototype">
    	<property name="monitorManager" ref="monitorManager"/>
    </bean>
	
</beans>
