<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd"
       
       >

    <!-- Activates scanning of @Autowired -->
    <context:annotation-config/>

    <!-- Activates scanning of @Repository and @Service -->
    <context:component-scan base-package="com.evodat"/>

	<task:annotation-driven />
<!--	<bean id="serviceResetTemporarilyOccupiedFloor" class="com.evodat.util.ResetTemporarilyOccupiedFloorCron">
		<property name="floorManager" ref="floorManager"/>
	</bean>

	<bean id="getFreeCarparkPlaces" class="com.evodat.util.GetFreeCarparkPlacesCron">
		<property name="carparkManager" ref="carparkManager"/>
		<property name="carparkHistoryManager" ref="carparkHistoryManager"/>
	</bean>-->
	
    <!-- Add new DAOs here -->

    <!-- Add new Managers here -->
</beans>